@model Langben.DAL.ORG_Role
@{ Layout = "~/Views/Shared/Index.cshtml"; }

<script src="~/Scripts/JScriptIndex.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#flexigridData").datagrid({
            title: '角色列表',
            iconCls: 'icon-site',
            url: "/Role/GetData",
            width: 'auto',
            height: 'auto',
            striped: true,
            collapsible: true,
            columns: [[
            { field: 'RoleCode', title: '编码', width: 200 },
            { field: 'RoleName', title: '角色名称', width: 200 },
            { field: 'Des', title: '描述', width: 111 },
             { field: 'ID', title: '员工配置', width: 150, formatter: Operate }

            ]],
            toolbar: [

              {
                  text: '添加',
                  iconCls: 'icon-add',
                  handler: function () {
                      return Create();
                  }
              }, {
                  text: '修改',
                  iconCls: 'icon-edit',
                  handler: function () {
                      return Edit();
                  }
              },
          {
              text: '删除',
              iconCls: 'icon-cut',
              handler: function () {
                  return Delete();
              }
          }],
            pagination: true,
            rownumbers: true

        });
    });
    //查询
    function flexiQuery() {
        var roleName = $.trim($("#txtName").val());
        var search = roleName;
        $("#flexigridData").datagrid("load", {
            search: search
        });
    }

    // 删除
    function Delete() {

        var rows = $('#flexigridData').datagrid('getSelections');

        var ids = [];
        for (var i = 0; i < rows.length; i++) {
            ids.push(rows[i].ID);
        }
        if (ids.length == 0) {
            $.messager.alert('操作提示', "请先选择需要删除的数据", 'info');
            return false;
        }
        else {
            $.messager.confirm('操作提示', "确认删除选中数据吗？", function (r) {
                if (r) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Role", new { area = "Authority" })?ids=' + ids,
                        dataType: 'json',
                        async: false, //同步
                        success: function (data) {
                            if (data.Code == "ok") {
                                //重新加载数据
                                $.messager.alert('操作提示', data.Message, 'info');

                                $("#flexigridData").datagrid('reload');
                                return true;
                            }
                            else {
                                $.messager.alert('操作提示', data.Message, 'info');
                                return false;
                            }
                        },
                        error: function () {
                            $.messager.alert('操作提示', "操作失败", 'info');
                            return false;
                        }
                    });
                }
            });
        }
    }

    // 创建
    function Create() {
        window.location.href = "../Role/Create";
        return false;
    }

    // 编辑
    function Edit() {
        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', "请先选择一条数据", 'info');
            return false;
        }
        else if (rows.length > 1) {
            $.messager.alert('操作提示', "只能选择一条数据", 'info');
            return false;
        }
        else {

            var arr = [];

            for (var i = 0; i < rows.length; i++) {

                arr.push(rows[i].ID);

            }
            window.location.href = "../Role/Edit?id=" + arr[0];
            return false;
        }
    }

    //员工配置
    function Operate(value, rowData, rowIndex) {

        var html1 = "<a href='javascript:void(0)'  onclick='OpenConfig(\"" + 9 + "\",\"" + rowData["ID"] + "\")'>人员配置</a> ";
        return html1;
    }

    function OpenConfig(menuid, Id) {
        var roleName = $.trim($("#txtName").val());
        var search = roleName;
        @*CommonSelect("@Url.Action("ConfigAuthority", "Config")?id=" + id + "&type=role", name + ' 人员配置', "1003px", "503px");*@
        //window.activeWindow.push(window);//注册保存父窗体集合
        window.$("#dialogFrame1").prop("src", "@Url.Action("Add", "Person")?Id=" + Id + "&Type=2");
        window.$("#dialogWin1").dialog({
            title: name,
            width: '750px',
            height: '550px',
            iconCls: 'icon-save',
            cache: false,
            modal: true,
            closed: false,
            buttons: [{
                text: '保存', iconCls: 'icon-save',
                handler: function (evt) {

                    //var win = top.dialog.get('dialogWin1').iframeNode.contentWindow;
                    var win = window.$("#dialogFrame1").prop('contentWindow');
                    var users = win.GetSetValue();
                    $.ajax({
                        type: "POST",
                        url: "/api/RoleApi/EditRoleUser?ID=" + Id,
                        data: { "datainfo": users },
                        async: false,
                        success: function (msg) {
                            if (msg.Code == 1) {
                                $.messager.alert('操作提示', '配置成功！', 'info');
                                window.$("#dialogWin1").dialog("close");//关闭弹出框
                            }
                            else {
                                $.messager.alert('操作提示', '配置失败！', 'info');
                                window.$("#dialogWin1").dialog("close");//关闭弹出框
                            }
                        }
                    });
                }
            }, {
                text: '关闭', iconCls: 'icon-cancel',
                handler: function () {
                    window.$("#dialogWin1").dialog("close");//关闭弹出框
                }
            }],
            onResize: function () {
                window.$(this).dialog('center');//弹出框居中
            },
            onClose: function () {
                window.$("#dialogFrame1").prop("src", "");
                //window.activeWindow.pop();//关闭窗口，释放已注册的父窗体集合
            }
        });

    }


</script>

<div id="divQuery">
    <div class='input_search' style="padding-top:10px;">
        角色名称：<input type="text" id="txtName" name="txtName" />
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    </div>
</div>
<br style="clear: both;" />
<div id="dialogWin1" class="easyui-window" style="position:relative;" data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false,iconCls:'icon-save'">
    <iframe id="dialogFrame1" frameborder="0" src="" scrolling="no" width="100%" height="98%"></iframe>
</div>
