@*<script src="~/Res/jquery.uploadify-v2.1.4/jquery-1.4.2.min.js"></script>*@
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    function UploadInsuranceCity() {
        $("#formInsuranceCity").ajaxSubmit({
            url: "/CRM_Employee/ImportEmployeeByExcel",
            type: "Get",
            dataType: "JSON",
            //async: false,
            beforeSend: function (request) {
            },


            success: function (data) {
                if (data.code == 1) {
                    alert(data.msg);
                }
                else {
                    alert(data.msg);
                }
            }
            //success: function (res) {
            //    alert("导入成功")
            //   $.messager.alert('操作提示', res, 'info');
            //},
            //error: function (res) {
            //    alert("导入失败")
            //    alert(ViewBag.error)
            //    //alert(err)
            //    $.messager.alert('操作提示', res.Message, 'info');
            //}
        });

    }
    
</script>
<script src="~/Scripts/jquery.form.js"></script>
<form id="formInsuranceCity">
    <table >
        <tr>
            <td>
                <fieldset id="downmyfieldset">
                    <legend>Excel模版</legend><font color="red">社保报增的模板在此下载，若模板格式不正确，则不能导入!</font>
                    <a href="~/Template/Excel/批量添加员工.xls" style="color:red;text-align:center;">点此处下载模板</a>
                </fieldset>
            </td>
        </tr>
        <tr width="400px">
            <td width="200px">
                <input type="file" id="files" name="files" accept=".xlsx,.xls,.csv" />
            </td>
            <td width="200px"><button id="uploadfile" onclick="UploadInsuranceCity()" type="button" class="btn green-haze">开始导入</button></td>

        </tr>
    </table>
    <div class="errorlist" id="errorlist" style=" display:none;">第一行<b>身份证</b>号不对<br />第二行<b>身份</b>不对<br />第一行<b>身份证</b>号不对<br />第二行<b>身份</b>不对<br /></div>
</form>




