@{
    Layout = null;
}


   <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎使用</title>
</head>
<body style="background: url(/Images/welcome.png) top center no-repeat; background-size: cover">
    <div>


        <br />

       
    </div>
</body>
</html>

