@{ Layout = "~/Views/Shared/CRMIndex.cshtml"; }
@using Common
@using Models

<script src="~/Scripts/JScriptIndex.js"></script>


<script type="text/javascript" language="javascript">
    $(function () {

        // 获取内容并显示

        $.ajax({
            url: "/api/CRM_CompanyLinkMan_AuditApi/Get/@ViewBag.ID",
            type: "Get",
            async: false,
            success: function (res) {
                $("#LinkManName").text(res.LinkManName == null ? '' : res.LinkManName);
                $("#Position").text(res.Position == null ? '' : res.Position);
                $("#Address").text(res.Address == null ? '' : res.Address);
                $("#Mobile").text(res.Mobile == null ? '' : res.Mobile);
                $("#Telephone").text(res.Telephone == null ? '' : res.Telephone);
                $("#Email").text(res.Email == null ? '' : res.Email);
                $("#Remark").text(res.Remark == null ? '' : res.Remark);
            }
        })

        $('#BasicGrid').datagrid()

    });
    function PassAdd() {
        $.ajax({
            url: "/api/CRM_CompanyLinkMan_AuditApi/PassAdd/@ViewBag.ID",
            type: "Post",
            //async: false,
            success: function (data) {
                $.messager.alert('操作提示', data.Message, 'info', function () {
                    if (data.Code == 1) {
                        //window.location.href = 'javascript:history.go(-1)';
                        GoBack();
                    }
                });
            }
        })
    }

    function ReturnAdd() {
        $.ajax({
            url: "/api/CRM_CompanyLinkMan_AuditApi/ReturnAdd/@ViewBag.ID",
            type: "Post",
            //async: false,
            success: function (data) {
                $.messager.alert('操作提示', data.Message, 'info', function () {
                    if (data.Code == 1) {
                        //window.location.href = 'javascript:history.go(-1)';
                        GoBack();
                    }
                });
            }
        })
    }

    function GoBack() {
        var tmp = '@Request.QueryString["tmp"]';
        window.location.href = "/CRM/CRM_Company_Audit/Index/?tmp=" + tmp;
    }
</script>

<div id="divQuery">
    <div class='input_search' style="padding-top:10px;">
        @if (ViewBag.State == 1)
        {
            <input class="a2 f2" type="button" onclick="PassAdd()" value="通过" />
            <input class="a2 f2" type="button" onclick="ReturnAdd()" value="退回" />
        }
        <input class="a2 f2" type="button" onclick="GoBack()" value="返回列表" />

    </div>
</div>

<br style="clear: both;" />

<input type="hidden" id="ID" value="@ViewBag.ID" />
<input type="hidden" id="MainTableID" value="@ViewBag.MainTableID" />

<table id="BasicGrid" style="width: auto; height: auto; border: 1px solid #ccc;">
    <thead>
        <tr>
            <th data-options="field:'LinkManName',width:100">姓名</th>
            <th data-options="field:'Position',width:150">职务</th>
            <th data-options="field:'Address',width:200">住址</th>
            <th data-options="field:'Mobile',width:100">手机号</th>
            <th data-options="field:'Telephone',width:100">固话</th>
            <th data-options="field:'Email',width:100">邮箱</th>
            <th data-options="field:'Remark',width:200">备注</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span id="LinkManName"></span></td>
            <td><span id="Position"></span></td>
            <td><span id="Address"></span></td>
            <td><span id="Mobile"></span></td>
            <td><span id="Telephone"></span></td>
            <td><span id="Email"></span></td>
            <td><span id="Remark"></span></td>
        </tr>
    </tbody>
</table>



