@{ Layout = "~/Views/Shared/CRMIndex.cshtml"; }
@using Common
@using Models

<script src="~/Scripts/JScriptIndex.js"></script>


<script type="text/javascript" language="javascript">
    $(function () {

        // 获取内容并显示
        $.ajax({
            url: "/api/CRM_CompanyLadderPriceApi/GetLadderPrice/@ViewBag.MainTableID",
            type: "Get",
            async: false,
            success: function (data) {
                var res = eval("(" + data + ")");
                $("#ProductName").text(res.ProductName == null ? '' : res.ProductName);
                $("#SinglePrice").text(res.SinglePrice);
                $("#BeginLadder").text(res.BeginLadder);
                $("#EndLadder").text(res.EndLadder);
            }
        })

        $.ajax({
            url: "/api/CRM_CompanyLadderPrice_AuditApi/GetLadderPrice_Audit/@ViewBag.ID",
            type: "Get",
            async: false,
            success: function (data) {
                var res = eval("(" + data + ")");
                $("#Audit_ProductName").text(res.ProductName == null ? '' : res.ProductName);
                $("#Audit_SinglePrice").text(res.SinglePrice);
                $("#Audit_BeginLadder").text(res.BeginLadder);
                $("#Audit_EndLadder").text(res.EndLadder);
            }
        })

        if ($('#Audit_ProductName').text() != $('#ProductName').text()) {
            $('#Audit_ProductName').css('color', 'red');
        }
        if ($('#Audit_SinglePrice').text() != $('#SinglePrice').text()) {
            $('#Audit_SinglePrice').css('color', 'red');
        }
        if ($('#Audit_BeginLadder').text() != $('#BeginLadder').text()) {
            $('#Audit_BeginLadder').css('color', 'red');
        }
        if ($('#Audit_EndLadder').text() != $('#EndLadder').text()) {
            $('#Audit_EndLadder').css('color', 'red');
        }

        $('#BasicGrid').datagrid()

    });
    function PassEdit() {
        $.ajax({
            url: "/api/CRM_CompanyLadderPrice_AuditApi/PassEdit/@ViewBag.ID?MainTableID=@ViewBag.MainTableID",
            type: "Post",
            //async: false,
            success: function (data) {
                $.messager.alert('操作提示', data.Message, 'info', function () {
                    if (data.Code == 1) {
                        //window.location.href = 'javascript:history.go(-1)';
                        GoBack();
                    }
                });
            }
        })
    }

    function ReturnEdit() {
        $.ajax({
            url: "/api/CRM_CompanyLadderPrice_AuditApi/ReturnEdit/@ViewBag.ID?MainTableID=@ViewBag.MainTableID",
            type: "Post",
            //async: false,
            success: function (data) {
                $.messager.alert('操作提示', data.Message, 'info', function () {
                    if (data.Code == 1) {
                        //window.location.href = 'javascript:history.go(-1)';
                        GoBack();
                    }
                });
            }
        })
    }

    function GoBack() {
        var tmp = '@Request.QueryString["tmp"]';
        window.location.href = "/CRM/CRM_Company_Audit/Index/?tmp=" + tmp;
    }
</script>

<div id="divQuery">
    <div class='input_search' style="padding-top:10px;">
        @if (ViewBag.State == 1)
        {
            <input class="a2 f2" type="button" onclick="PassEdit()" value="通过" />
            <input class="a2 f2" type="button" onclick="ReturnEdit()" value="退回" />
        }
        <input class="a2 f2" type="button" onclick="GoBack()" value="返回列表" />

    </div>
</div>

<br style="clear: both;" />

<input type="hidden" id="ID" value="@ViewBag.ID" />
<input type="hidden" id="MainTableID" value="@ViewBag.MainTableID" />

<table id="BasicGrid" style="width: auto; height: auto; border: 1px solid #ccc;">
    <thead>
        <tr>
            <th data-options="field:'ID',width:100">信息类别</th>
            <th data-options="field:'ProductName',width:100">产品名称</th>
            <th data-options="field:'SinglePrice',width:150">单人服务费</th>
            <th data-options="field:'BeginLadder',width:200">起始阶梯</th>
            <th data-options="field:'EndLadder',width:100">终止阶梯</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>企业原信息</td>
            <td><span id="ProductName"></span></td>
            <td><span id="SinglePrice"></span></td>
            <td><span id="BeginLadder"></span></td>
            <td><span id="EndLadder"></span></td>
        </tr>
        <tr>
            <td>企业新信息</td>
            <td><span id="Audit_ProductName"></span></td>
            <td><span id="Audit_SinglePrice"></span></td>
            <td><span id="Audit_BeginLadder"></span></td>
            <td><span id="Audit_EndLadder"></span></td>
        </tr>
    </tbody>
</table>



