@*<script src="~/Res/jquery.uploadify-v2.1.4/jquery-1.4.2.min.js"></script>*@
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    function UploadInsuranceCity() {
        $("#formInsuranceCity").ajaxSubmit({
            url: "/EmployeeMiddle/InputEmployeeMiddleByExcel",
            type: "Get",
            dataType: "JSON",
            //async: false,
            beforeSend: function (request) {
            },


            success: function (data) {
                if (data.code == 1) {
                    alert(data.msg);
                }
                else {
                    alert(data.msg);
                }
            }  
        });

    }
    
</script>
<script src="~/Scripts/jquery.form.js"></script>
<form id="formInsuranceCity">
    <table >
        <tr>
            <td>
                <fieldset id="downmyfieldset">
                    <legend>Excel模版</legend><font color="red">社保导入其他社保费的模板在此下载，若模板格式不正确，则不能导入!</font>
                    <a href="~/Template/Excel/其他社保费导入模板.xls" style="color:red;text-align:center;">点此处下载模板</a>
                </fieldset>
            </td>
        </tr>
        <tr width="400px">
            <td width="200px">
                <input type="file" id="files" name="files" accept=".xlsx,.xls,.csv" />
            </td>
            <td width="200px"><button id="uploadfile" onclick="UploadInsuranceCity()" type="button" class="btn green-haze">开始导入</button></td>

        </tr>
    </table>
</form>




